/*header*/

.container,
.header {
    display: flex;
    justify-content: flex-start;
}
.container div {
    width: 100%;
}
ul {
  padding: 0;
}
.header {
    padding: 10px;
}
.header h1 {
    margin-right: auto;
}

input#searchBox {
    width: 35%;
    margin-right: 5px;
}

/*my books panel*/

ul.list-of-books {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.list-group-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li:hover {
    cursor: pointer;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
}

button.btn.btn-secondary {
    width: 35%;
}


#book-details {
    height: 600px;
    width: 65%;
    display: flex;
    flex-direction: column;
}



.hidden {
    display: none;
}
